body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sorting {
  position: fixed;
  height:100px;
  top:calc(100svh - 100px);
  background-color:#9bfdff;
  min-width: 100%;
}
.sorting > div {
  display: grid;
  width:50%;
  margin-left:25%;
  grid-template-columns: repeat(auto-fill,calc(100% / 3));
  align-items: center;
}
@media (max-width: 768px) { 
  .sorting > div {
    width:100%;
    margin-left:0;
  }
}
.weather-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap:10px;
  margin-bottom: 100px;
  text-align: center;
}
/* .weather {
  background-color: red;
} */